
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}
body {
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 5vh;
}

h1, h2 {
    font-weight: 600;
    color: #434343;
}
h1 {
    font-size: 3.3rem;
}
h2 { font-size: 2.5rem; }
h6 {
    text-align: center;
    margin-top: 10rem;
}
p {
    font-size: 1.5rem;
}
li {
    font-size: 1.5rem;
}
pre {
    font-size: 1.5rem;
    background: #f9f9f9;
}
tr {
    font-size: 1.5rem;
}

nav {
    height: 8rem;
    width: 100%;

    padding: 0 3rem;

    background-color: #f7f7f7;
    border-bottom: .1rem solid #434343;
    /* color: #a2a2a2; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a { color: #6e7278; }
a:hover { color: #272727; text-decoration: none; }


.main-container {
    width: 90vw;
    margin: 3.3rem auto 0 auto;
}

.home-nav, .home-nav__logo-group,
.home-nav__logo-group__footer,
.home-nav__logo-group__footer--linkset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nav {
    margin: 8rem auto 30rem auto;
    width: 100%;
    max-width: 1400px;
}
.home-nav__logo-group {
    width: 100%;
    height: 27rem;
    /* justify-content: center; */
}
.home-nav__logo-group, 
.home-nav__logo-group__footer--linkset {
    flex-direction: column;
}
.i-link { font-size: 1.8rem; }
.i-leave { display: flex; justify-content: center; }
/* .home-nav__logo-group__footer--linkset {
    font-size: 1.4rem;
    color: #6e7278;
} */

.home-bookwormz { width: 69%; }
.home-racemate { width: 67%; }
.home-pip { width: 59%; }

.header {
    width: 90vw;
    margin: 0 auto;
}

.nav-links {
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 2rem;
}

.hov-cursor{ cursor: pointer; }

.no-link {
    cursor: default;
    color: #ff004d;
    /* color: #d7d7d7; */
}
.logo-bookwormz-header {
    width: 20%;
}
.logo-pip-header { margin: 2rem 0 2rem 0; }
.logo-racemate-header {
    width: 20%;
    margin: 2rem 0 2rem 0;
}
.sec {
    margin-bottom: 5rem;
}
.update {
    margin: 0 0 5rem 10rem;
}
.admin {
    color: #ff0000;
}
.user {
    color: #009900;
}
.contributor {
    color: #0000ff;
}

@media (max-width: 1180px) {
    .nav-links { width: 53%; }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.2rem;
        white-space: pre-wrap;
    }
    h3 { font-size: 2rem; }
    .nav-links { width: 73%; font-size: 1.8rem; }
}
@media (max-width: 520px) {
    nav { padding: 0 .5rem; }
    .nav-links { width: 85%; font-size: 1.5rem; }
}
