
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}
body {
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 90vh;
}

h2 {
    font-size: 3.3rem;
}
p {
    font-size: 1.5rem;
}
li {
    font-size: 1.5rem;
}
pre {
    font-size: 1.5rem;
    background: #f9f9f9;
}

.header {
    width: 90vw;
    margin: 0 auto;
}
.logo {
    margin: 2rem 0 2rem 0;
}
.sec {
    margin-bottom: 5rem;
}
.update {
    margin: 0 0 5rem 10rem;
}

@media (max-width: 76.9rem) {
    h2 {
        font-size: 2.2rem;
        white-space: pre-wrap;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    pre {
        font-size: 1.8rem;
    }
    select {
        width: 20rem;
    }
}
